<div>
    <label for="{{id}}" class="form__label">
        {{label}}
    </label>
    <input
        id="{{id}}" 
        name="{{name}}" 
        class="form__input" 
        placeholder="{{ placeholder }}" 
        type="{{type}}"
        value="{{value}}"
        {{#if disabled}}disabled="disabled"{{/if}}
    >
</div>